/* Web fonts */
@import "../fonts/MyriadPro/font.css";

/* Page */
body {
	font-family: 'Myriad Pro';
}

.page {
	width: 960px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

/* Table */
table {
	border-spacing: 0;
	width: 100%;
	font-size: 15px;
	line-height: 18px;
	font-weight: 300;
	color: #101026;
}

thead,  tfoot {
	background-color: #f3f4f9;
}

thead {
	-webkit-box-shadow:
			960px 1px 0 0 #f3f4f9,
			1920px 1px 0 0 #f3f4f9,
			-960px 1px 0 0 #f3f4f9,
			-1920px 1px 0 0 #f3f4f9,
			960px 0 0 0 #c3ccd3,
			1920px 0 0 0 #c3ccd3,
			-960px 0 0 0 #c3ccd3,
			-1920px 0 0 0 #c3ccd3;
	-moz-box-shadow:
			960px 1px 0 0 #f3f4f9,
			1920px 1px 0 0 #f3f4f9,
			-960px 1px 0 0 #f3f4f9,
			-1920px 1px 0 0 #f3f4f9,
			960px 0 0 0 #c3ccd3,
			1920px 0 0 0 #c3ccd3,
			-960px 0 0 0 #c3ccd3,
			-1920px 0 0 0 #c3ccd3;
	box-shadow:
			960px 1px 0 0 #f3f4f9,
			1920px 1px 0 0 #f3f4f9,
			-960px 1px 0 0 #f3f4f9,
			-1920px 1px 0 0 #f3f4f9,
			960px 0 0 0 #c3ccd3,
			1920px 0 0 0 #c3ccd3,
			-960px 0 0 0 #c3ccd3,
			-1920px 0 0 0 #c3ccd3;
}

tfoot {
	font-weight: 600;
	-webkit-box-shadow:
			959px 0 0 -1px #f3f4f9,
			960px -1px 0 -1px #e7ecf0,
			960px 0 0 0 #c3ccd3,
			1919px 0 0 -1px #f3f4f9,
			1920px -1px 0 -1px #e7ecf0,
			192px 0 0 0 #c3ccd3,
			-959px 0 0 -1px #f3f4f9,
			-960px -1px 0 -1px #e7ecf0,
			-960px 0 0 0 #c3ccd3,
			-1919px 0 0 -1px #f3f4f9,
			-1920px -1px 0 -1px #e7ecf0,
			-192px 0 0 0 #c3ccd3;
	-moz-box-shadow:
			959px 0 0 -1px #f3f4f9,
			960px -1px 0 -1px #e7ecf0,
			960px 0 0 0 #c3ccd3,
			1919px 0 0 -1px #f3f4f9,
			1920px -1px 0 -1px #e7ecf0,
			192px 0 0 0 #c3ccd3,
			-959px 0 0 -1px #f3f4f9,
			-960px -1px 0 -1px #e7ecf0,
			-960px 0 0 0 #c3ccd3,
			-1919px 0 0 -1px #f3f4f9,
			-1920px -1px 0 -1px #e7ecf0,
			-192px 0 0 0 #c3ccd3;
	box-shadow:
			959px 0 0 -1px #f3f4f9,
			960px -1px 0 -1px #e7ecf0,
			960px 0 0 0 #c3ccd3,
			1919px 0 0 -1px #f3f4f9,
			1920px -1px 0 -1px #e7ecf0,
			192px 0 0 0 #c3ccd3,
			-959px 0 0 -1px #f3f4f9,
			-960px -1px 0 -1px #e7ecf0,
			-960px 0 0 0 #c3ccd3,
			-1919px 0 0 -1px #f3f4f9,
			-1920px -1px 0 -1px #e7ecf0,
			-192px 0 0 0 #c3ccd3;
}

td {
	padding-top: 29px;
	padding-bottom: 24px;
}

td:not(:last-child) {
	padding-right: 20px;
}

tbody td {
	border-top: 1px solid #e7ecf0;
}

tbody tr:last-child td {
	border-bottom: 1px solid #e7ecf0;
}

thead td:first-child,
tfoot td:first-child {
	padding-left: 30px;
}

tbody td:not(:first-child),
tfoot td:not(:first-child) {
	text-align: center;
}

thead td {
	border-top: 1px solid #c3ccd3;
}

tfoot td {
	border-top: 1px solid  #e7ecf0;
	border-bottom: 1px solid #c3ccd3;
}

tbody tr {
	-webkit-box-shadow:
			960px 1px 0 0 #ffffff,
			1920px 1px 0 0 #ffffff,
			-960px 1px 0 0 #ffffff,
			-1920px 1px 0 0 #ffffff,
			960px 0 0 0 #e7ecf0,
			1920px 0 0 0 #e7ecf0,
			-960px 0 0 0 #e7ecf0,
			-1920px 0 0 0 #e7ecf0;
	-moz-box-shadow:
			960px 1px 0 0 #ffffff,
			1920px 1px 0 0 #ffffff,
			-960px 1px 0 0 #ffffff,
			-1920px 1px 0 0 #ffffff,
			960px 0 0 0 #e7ecf0,
			1920px 0 0 0 #e7ecf0,
			-960px 0 0 0 #e7ecf0,
			-1920px 0 0 0 #e7ecf0;
	box-shadow:
			960px 1px 0 0 #ffffff,
			1920px 1px 0 0 #ffffff,
			-960px 1px 0 0 #ffffff,
			-1920px 1px 0 0 #ffffff,
			960px 0 0 0 #e7ecf0,
			1920px 0 0 0 #e7ecf0,
			-960px 0 0 0 #e7ecf0,
			-1920px 0 0 0 #e7ecf0;
}

tbody tr.even {
	background-color: #f3f4f9;
	-webkit-box-shadow:
			960px 1px 0 0 #f3f4f9,
			1920px 1px 0 0 #f3f4f9,
			-960px 1px 0 0 #f3f4f9,
			-1920px 1px 0 0 #f3f4f9,
			960px 0 0 0 #e7ecf0,
			1920px 0 0 0 #e7ecf0,
			-960px 0 0 0 #e7ecf0,
			-1920px 0 0 0 #e7ecf0;
	-moz-box-shadow:
			960px 1px 0 0 #f3f4f9,
			1920px 1px 0 0 #f3f4f9,
			-960px 1px 0 0 #f3f4f9,
			-1920px 1px 0 0 #f3f4f9,
			960px 0 0 0 #e7ecf0,
			1920px 0 0 0 #e7ecf0,
			-960px 0 0 0 #e7ecf0,
			-1920px 0 0 0 #e7ecf0;
	box-shadow:
			960px 1px 0 0 #f3f4f9,
			1920px 1px 0 0 #f3f4f9,
			-960px 1px 0 0 #f3f4f9,
			-1920px 1px 0 0 #f3f4f9,
			960px 0 0 0 #e7ecf0,
			1920px 0 0 0 #e7ecf0,
			-960px 0 0 0 #e7ecf0,
			-1920px 0 0 0 #e7ecf0;
}

/* Icon */
body > svg {
	border: 0;
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.icon {
	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	white-space: nowrap;
	/* Кривой X-Height у шрифта */
	top: -3px;
}

.icon:after {
	content: '\a0';
}

.icon__svg {
	vertical-align: top;
	fill: currentColor;
}

/* Statistics */
.statistics__main {
	cursor: pointer;
}

.statistics__main_state_active,
.statistics__main_state_active.even {
	background: #f2fafe url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAACCAYAAACDvVapAAAAJ0lEQVQImWPOzy/psLCwUjp58thZBiIBEwMDgwsDA4MSsRoYGBgYAFBcBjfWBeIdAAAAAElFTkSuQmCC') bottom repeat-x;
	-webkit-box-shadow:
			960px 1px 0 0 #f2fafe,
			1920px 1px 0 0 #f2fafe,
			-960px 1px 0 0 #f2fafe,
			-1920px 1px 0 0 #f2fafe,
			960px 0 0 0 #06a8ff,
			1920px 0 0 0 #06a8ff,
			-960px 0 0 0 #06a8ff,
			-1920px 0 0 0 #06a8ff;
	-moz-box-shadow:
			960px 1px 0 0 #f2fafe,
			1920px 1px 0 0 #f2fafe,
			-960px 1px 0 0 #f2fafe,
			-1920px 1px 0 0 #f2fafe,
			960px 0 0 0 #06a8ff,
			1920px 0 0 0 #06a8ff,
			-960px 0 0 0 #06a8ff,
			-1920px 0 0 0 #06a8ff;
	box-shadow:
			960px 1px 0 0 #f2fafe,
			1920px 1px 0 0 #f2fafe,
			-960px 1px 0 0 #f2fafe,
			-1920px 1px 0 0 #f2fafe,
			960px 0 0 0 #06a8ff,
			1920px 0 0 0 #06a8ff,
			-960px 0 0 0 #06a8ff,
			-1920px 0 0 0 #06a8ff;
}

.statistics__main_state_active td {
	border-top-color: #06a8ff;
}

.statistics__main-icon {
	left: -4px;
	color: #c3ccd3;
}

.statistics__main_state_active .statistics__main-icon {
	color: #06a8ff;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.statistics__sub {
	display: none;
	background-color: #f2fafe;
	color: #6f6f74;
	-webkit-box-shadow:
			960px 0 0 0 #f2fafe,
			1920px 0 0 0 #f2fafe,
			-960px 0 0 0 #f2fafe,
			-1920px 0 0 0 #f2fafe;
	-moz-box-shadow:
			960px 0 0 0 #f2fafe,
			1920px 0 0 0 #f2fafe,
			-960px 0 0 0 #f2fafe,
			-1920px 0 0 0 #f2fafe;
	box-shadow:
			960px 0 0 0 #f2fafe,
			1920px 0 0 0 #f2fafe,
			-960px 0 0 0 #f2fafe,
			-1920px 0 0 0 #f2fafe;
}

.statistics__sub td {
	border: none;
}

.statistics__sub_state_active {
	display: table-row;
}

.statistics__sub + .statistics__sub td {
	padding-top: 0;
}

.statistics__sub_state_active + .statistics__main:not(.statistics__main_state_active) {
	-webkit-box-shadow:
			960px 1px 0 0 #ffffff,
			1920px 1px 0 0 #ffffff,
			-960px 1px 0 0 #ffffff,
			-1920px 1px 0 0 #ffffff,
			960px 0 0 0 #06a8ff,
			1920px 0 0 0 #06a8ff,
			-960px 0 0 0 #06a8ff,
			-1920px 0 0 0 #06a8ff;
	-moz-box-shadow:
			960px 1px 0 0 #ffffff,
			1920px 1px 0 0 #ffffff,
			-960px 1px 0 0 #ffffff,
			-1920px 1px 0 0 #ffffff,
			960px 0 0 0 #06a8ff,
			1920px 0 0 0 #06a8ff,
			-960px 0 0 0 #06a8ff,
			-1920px 0 0 0 #06a8ff;
	box-shadow:
			960px 1px 0 0 #ffffff,
			1920px 1px 0 0 #ffffff,
			-960px 1px 0 0 #ffffff,
			-1920px 1px 0 0 #ffffff,
			960px 0 0 0 #06a8ff,
			1920px 0 0 0 #06a8ff,
			-960px 0 0 0 #06a8ff,
			-1920px 0 0 0 #06a8ff;
}

.statistics__sub_state_active + .statistics__main td {
	border-top-color: #06a8ff;
}

.statistics__sub_state_active:last-child td {
	border-bottom: 1px solid #06a8ff;
}

.statistics__sub_state_active:last-child {
	-webkit-box-shadow:
			960px -1px 0 0 #f2fafe,
			1920px -1px 0 0 #f2fafe,
			-960px -1px 0 0 #f2fafe,
			-1920px -1px 0 0 #f2fafe,
			960px 0 0 0 #06a8ff,
			1920px 0 0 0 #06a8ff,
			-960px 0 0 0 #06a8ff,
			-1920px 0 0 0 #06a8ff;
	-moz-box-shadow:
			960px -1px 0 0 #f2fafe,
			1920px -1px 0 0 #f2fafe,
			-960px -1px 0 0 #f2fafe,
			-1920px -1px 0 0 #f2fafe,
			960px 0 0 0 #06a8ff,
			1920px 0 0 0 #06a8ff,
			-960px 0 0 0 #06a8ff,
			-1920px 0 0 0 #06a8ff;
	box-shadow:
			960px -1px 0 0 #f2fafe,
			1920px -1px 0 0 #f2fafe,
			-960px -1px 0 0 #f2fafe,
			-1920px -1px 0 0 #f2fafe,
			960px 0 0 0 #06a8ff,
			1920px 0 0 0 #06a8ff,
			-960px 0 0 0 #06a8ff,
			-1920px 0 0 0 #06a8ff;
}

.statistics__sub_state_active + .statistics__main.even:not(.statistics__main_state_active) {
	-webkit-box-shadow:
			960px 1px 0 0 #f3f4f9,
			1920px 1px 0 0 #f3f4f9,
			-960px 1px 0 0 #f3f4f9,
			-1920px 1px 0 0 #f3f4f9,
			960px 0 0 0 #06a8ff,
			1920px 0 0 0 #06a8ff,
			-960px 0 0 0 #06a8ff,
			-1920px 0 0 0 #06a8ff;
	-moz-box-shadow:
			960px 1px 0 0 #f3f4f9,
			1920px 1px 0 0 #f3f4f9,
			-960px 1px 0 0 #f3f4f9,
			-1920px 1px 0 0 #f3f4f9,
			960px 0 0 0 #06a8ff,
			1920px 0 0 0 #06a8ff,
			-960px 0 0 0 #06a8ff,
			-1920px 0 0 0 #06a8ff;
	box-shadow:
			960px 1px 0 0 #f3f4f9,
			1920px 1px 0 0 #f3f4f9,
			-960px 1px 0 0 #f3f4f9,
			-1920px 1px 0 0 #f3f4f9,
			960px 0 0 0 #06a8ff,
			1920px 0 0 0 #06a8ff,
			-960px 0 0 0 #06a8ff,
			-1920px 0 0 0 #06a8ff;
}