@font-face {
	font-family: 'Myriad Pro';
	src: url('Light/MyriadPro-Light.eot');
	src: url('Light/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
	url('Light/MyriadPro-Light.woff') format('woff'),
	url('Light/MyriadPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('Regular/MyriadPro-Regular.eot');
	src: url('Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('Regular/MyriadPro-Regular.woff') format('woff'),
	url('Regular/MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('Semibold/MyriadPro-Semibold.eot');
	src: url('Semibold/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
	url('Semibold/MyriadPro-Semibold.woff') format('woff'),
	url('Semibold/MyriadPro-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}



